<div>

  <div>
      <ul class="nav nav-tabs">
        <li class="nav-item" style="color: wheat;">
          <a class="nav-link" aria-current="page" (click)="divChangeI(1)">Add</a>
        </li>
        <li class="nav-item" style="color: wheat;">
          <a class="nav-link" (click)="divChangeI(2)">Get</a>
        </li>
      </ul>
  </div>
<div *ngIf="tab==1">

  <table class="table table-bordered" *ngIf="table">
    <thead>
      <tr>
        <th>Sr</th>
        <th>CatSCat</th>
        <th>Qty</th>
        <th>Option</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of arr;let j = index;">
        <td>{{j+1}}</td>
        <td>{{i.category}}<br>{{i.subcategory}}</td>
        <td>{{i.qty}}-{{i.measure}}</td>
        <td>
          <button class="btn btn-danger" (click)="delete(j)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-success" (click)="submitAmt()"  *ngIf="table">Send List</button>

  <form [formGroup]="myFormGroup" (ngSubmit)="submitAmtT()" *ngIf="tab==1">
    <div>
      <label>Date</label>
      <input type="date" formControlName="date" class="form-control blackMail">
    </div>
    <div><label>Category</label>
      <select label="Type" formControlName="category" class="form-control" (change)="getSCAT()">
        <option selected>Select</option>
        <option *ngFor="let i of category;let j = index;" value={{j}}>{{i.categoryName}}</option>
      </select>
    </div>
    <div>
      <label>Sub Category</label>
      <select label="Type" formControlName="subcategory" class="form-control">
        <option selected>Select</option>
        <option *ngFor="let i of subcategory;let j = index;" value={{j}}>{{i}}</option>
      </select>
    </div>
    <div>
      <label>Quantity</label>
      <input type="number" formControlName="qty" value="" class="form-control">
    </div>
    <div>
      <label>Measure</label>
      <select label="Type" formControlName="measure" class="form-control">
        <option value='KG'>KG</option>
        <option value='LTR'>LTR</option>
        <option value='GRAM'>GRAM</option>
        <option value='UNIT'>UNIT</option>
      </select>
    </div>
    <div>
        <button class="btn btn-danger" style="width: 100%;" [disabled]="!myFormGroup.valid">Submit</button>
    </div>
  </form>
</div>

<div *ngIf="tab==2">
  <div class="row">
<input type="date" class="form-control col-xs-3" [(ngModel)]="groceryDate">
<button class="btn btn-danger col-xs-3" (click)="getData()">Get</button>
</div>
<table class="table table-bordered" *ngIf="table">
  <thead>
    <tr>
      <th>Sr</th>
      <th>CatSCat</th>
      <th>Qty</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of gl;let j = index;">
      <td>{{j+1}}</td>
      <td>{{i.category}}<br>{{i.subcategory}}</td>
      <td>{{i.qty}}-{{i.measure}}</td>
    </tr>
  </tbody>
</table>
  
<div class="row" *ngIf="table">
  <div class="col-xs-4"><button class="btn btn-info" (click)="PochBill()">PDF</button></div>
  <div class="col-xs-4">
    <textarea id="data" style="height: 20vh;" id="copy-text" (click)="copy()">{{groceryList}}</textarea>
  </div>
</div>

</div>
