<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="HOTEL_HOME">HOTEL VRUNDAVAN</a>
    </div>
    
        <button class="btn btn-danger" routerLink="ACCOUNT">Accounts</button>
        <button class="btn btn-danger" (click)="divChange(2)">Salary</button>
        <button class="btn btn-danger" (click)="divChange(3)">Store</button>      
        <button class="btn btn-danger" (click)="divChange(4)">Order</button>
              <!-- <button class="btn btn-danger" (click)="divChange(5)">Zomato</button>-->
        <button class="btn btn-danger" (click)="divChange(6)">Charts</button>
        <button class="btn btn-danger" routerLink="SETTINGS">Settings</button>
        <button class="btn btn-danger" (click)="divChange(8)">Logout</button>
      
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>

